---
import Layout from '../layouts/AboutTheme.astro';
---

<Layout
	title="League Information"
	description="Useful contacts for MKGL Officals - info@mkgl.co.uk  can be used for general enquires"
	
	heroImage="/images/web_banner.png"
>
	<p>
<h1> League Contacts </h1>
<hr />
<ul> 
<li> Chairman - Craig Turnbull - <a href="mailto:chair@mkgl.co.uk">chair@mkgl.co.uk</a> </li>
<li> Vice Chairman - Matt Ruffles-McGhie </li>
<li> Welfare Officer - Robyn Hammond - <a href="mailto:welfare@mkgl.co.uk">welfare@mkgl.co.uk</a> </li>
<li> Registrations Officer - Matt Ruffles-McGhie - <a href="mailto:secretary@mkgl.co.uk">secretary@mkgl.co.uk </a> </li>
<li> Fixtures Officer - Craig Turnbull - <a href="mailto:fixtures@mkgl.co.uk">fixtures@mkgl.co.uk </a> </li>
</ul>
</p>
<p style="padding-bottom: 10px">

<a href="https://forms.gle/17t3wHksPHdhBBiH9" target="_blank"> <img class="hero-image" style="width:1020; height: 350;" src="/images/web_contactform_button.png" /> </a>

	</p>
<article>
				<div class="hero-image">
				<!--	{heroImage && <img width={1020} height={510} src={heroImage} alt="" />} -->
				</div>
				<div class="prose">
					<div class="title">
						<!-- <div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div> -->
						<h1>League Documents</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
								

	<p>
		<ul> 
		<li> </li>
		<li> </li>
		<li> </li>
		
		
		</ul>
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
