---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome </h1>
			<p>
				Welcome to the official <a href="https://mkgl.co.uk/">Milton Keynes & North Bucks Girls Football League </a> homepage.
			</p>
<p>The Milton Keynes & North Bucks Girls Football League (MKGL) supports grassroots girls’ football across Milton Keynes and Buckinghamshire. We provide a safe, inclusive, and well-organised league for clubs and teams at all levels, helping girls develop their skills, confidence, and love of the game.</p>
			<p>
				Find us on FA: Full Time - <a href="https://fulltime.thefa.com/index.html?league=705018693">Click Here </a>  
			</p>
			<p>
				
			</p>
		</main>
		<Footer />
	</body>
</html>
