---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome </h1>
			<p>
				Welcome to the official <a href=""><strong>Milton Keynes & North Bucks Girls Football League</strong></a> website.
			</p>
<p>The Milton Keynes & North Bucks Girls Football League (MKGL) supports grassroots girls’ football across Milton Keynes and Buckinghamshire. </p><p>We provide a safe, inclusive, and well-organised league for clubs and teams at all levels, helping girls develop their skills, confidence, and love of the game.</p>
			<p style="padding-bottom: -5px;">
				<a href="https://fulltime.thefa.com/index.html?league=705018693" target="_blank"><img src="/images/Full_Time_Banner.png" style="text-align: center;"></img>
				</a>
				<br>
<strong>League sanctioned by - </strong><a style="color: blue;"href="https://www.berks-bucksfa.com/">Berks & Bucks FA</a>
</p>
			
		</main>
		<Footer />
	</body>
</html>
