---
const today = new Date();
---

<footer>
<p>
	<img style="align-items:center; height: 100px;" src="/girl_silhouette.png" />
	</p>
	
	<div class="social-links">
		
		<a href="https://facebook.com/mkgl" target="_blank">
			<span class="sr-only">Follow MKGL on Facebook</span>
			<img style="height: 100px;" src="/square-facebook-brands-solid-full.svg" /></a>
		<a href="https://fulltime.thefa.com/index.html?league=705018693" target"_blank">
		<span class="sr-only"> </span>
		<img style="height: 100px;" src="/futbol-solid-full.svg" /></a>
		
	</div>
<img class="img img-rounded" src="\RTS_Email_Footer_1200x250_1.jpg" />

	&copy; {today.getFullYear()} Milton Keynes & North Bucks Girls Football League. All rights reserved.
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
