---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import FormattedDate from './FormattedDate.astro'

	import { getCollection } from 'astro:content';
const posts = (await getCollection('stickynotes')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 5px;
  margin: 15px;
}
.card-header {
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background-color: aqua;
}

/* Add rounded corners to the top left and the top right corner of the image
img {
  border-radius: 5px 5px 0 0;
} */
</style>



{
posts.map((post) => (
					<a href={`/club-hub/noticeboard/${post.id}/`}>
                    <div class="card">
  {/* <img src="img_avatar.png" alt="Avatar" style="width:"> */}
  <div class="container">
    <div class="card-header"><h3>{post.data.name}</h3></div>
    <p>{post.data.message}</p>
  </div>
</div>		</a>
						))
					}

